.build-help-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    font-family: 'Poppins', sans-serif;

    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), /* Dark overlay */
        url('0003-4.jpg');
    background-size: cover; /* Use cover to ensure the image covers the container */
    background-position-y: 40%; /* Center the image vertically */
    background-repeat: no-repeat;
}


.build-help-container h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 12px;
}

.build-help-container h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 60px;
    background-color: #00a8f0;
}

.build-help-container p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 16px;
    font-weight: 300;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .build-help-container {
        padding: 20px;
        margin: 20px 15px;
    }
    
    .build-help-container h1 {
        font-size: 28px;
    }
}