#contact-section {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
    color: #333;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    font-size: 14px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 50px;
    margin: 0;
}

#content {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 800px;
    display: contents;
}

#business-contact-info {
    margin-left: auto;
    margin-right: auto;

    width: 80%;
    padding: 20px;
}